body {
    background-color: grey;
}

#header {
    text-align: center;
}

#top {
    text-align: center;  
}

#top h2 {
    display: inline-block;
    background-color: darkturquoise;
}

body div {
    box-sizing: border-box;
}

#middle {
    display: inline-block;
    text-align: left;
    padding-left: 128px;
}

#middle img {
    width: 256px;
    padding: 32px;
    background-color: darkgray;
}

#aside {
    vertical-align: top;
    float: right;
}

#aside ul {
    margin-right: auto;
    padding-right: 128px;
}
#aside ul li {
    background-color: burlywood;
    list-style-position: inside;
}

footer {
    padding-left: 128px;
}