html {
    background-color: white;
}

body {
    margin: 0px;
    padding: 0px;
}

#header {
    text-align: left;
    display: inline-block;
    background-color: white;
    margin-block-start: 0px;
    margin-block-end: 0px;
    border-bottom: 2px solid black;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;    
}

#header h1 {
    padding: 32px;
    color: white;
    margin-left: 32px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: inline-block;
    background-color: black;
}

#headList {
    text-align: right;
    display: inline-block;
    padding: 26px;
    width: 50%;
    background-color: white;
    border-bottom: 2px solid black;
}

#headList li {
    text-align: right;
    list-style-position: inside;
    display: inline-block;
    padding-right: 16px;
}

body div {
    box-sizing: border-box;
}

#middle {
    display: inline-block;
    text-align: left;
    margin-bottom: -4px;
    padding: 32px;
    width: 50%;
    vertical-align: top;
}

#middle img {
    width: 256px;
    padding: 32px;
    background-color: darkgray;
}

#aside {
    vertical-align: top;
    text-align: right;
    margin-right: -4px;
    float: right;
}

#aside ul {
    padding-right: 32px;
    padding-top: 16px;
    text-align: right;
}

#aside ul li {
    background-color: burlywood;
    padding: 16px;
    list-style-position: inside;
}

footer {
    padding-left: 32px;
    border-top: 2px solid black;
    clear: both;
}